{# opciones de un item , requiere el identificador de fase  #}
{% load tags %}

{# permisos del item #}
{% perm_fase user.pk idfase 'item_modif' as item_modif %}
{% perm_fase user.pk idfase 'item_elim' as item_elim %}
{% perm_fase user.pk idfase 'item_revertir' as item_revertir %}
{% perm_fase user.pk idfase 'item_adjuntos' as item_adjuntos %}
{% perm_fase user.pk idfase 'item_modif' as item_modif %}



<div class="dropdown">
  
  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
  <span class="glyphicon glyphicon-wrench"></span>
    Acciones <span class="caret"></span>
  </a>
  
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">  

  <li>
  {# solo en estados desarrollo y si tiene el permiso de modificar #}
  {% if item_modif and estado == EST_ITEM.E_DESAPROBADO %}
  <a data-target="#form_modal"  data-toggle="modal" href="{% url 'item_editar' iditem %}" ><span class="glyphicon glyphicon-pencil"></span>Editar</a> 
  {% else %}
 		{% include "_msg_noperm.html" with msg="Editar" %}
  {% endif %}
  </li>
  
  <li>
  {# solo en estados desarrollo y si tiene el permiso de eliminar #}
  {% if item_elim and estado == EST_ITEM.E_DESAPROBADO %}
	  <a href="{% url 'item_eliminar' iditem %}" data-target="#form_modal"  data-toggle="modal" >
	  <span class="glyphicon glyphicon-remove"></span>Eliminar</a>
  {% else %}
  		{% include "_msg_noperm.html" with msg="Eliminar" %}
  {% endif %}
  </li>
 
 <li> 
  {#solo si tiene el permiso de modificar y esta en estado desarrollo o revision #}
  {% if item_modif %}
  {% if estado == EST_ITEM.E_DESAPROBADO or estado == EST_ITEM.E_REVISION and iditem in items_afectados %}
	  <a href="{% url 'valores_asignar' iditem %}" data-target="#form_modal"  data-toggle="modal" >
	  <span class="glyphicon glyphicon-pencil"></span>
	  <span class="glyphicon glyphicon-tasks"></span>
	  Asignar Valores</a>
  {% else %}
      {% include "_msg_noperm.html" with msg="Asignar Valores" %}
  {% endif %}
  {% else %}
      {% include "_msg_noperm.html" with msg="Asignar Valores" %}
  {% endif %}
 </li>

 <li>
 {#solo si tiene el permiso de revertir y esta en estado desarrollo o afectado por una solicitud  #}
{% if item_revertir %}
{% if estado == EST_ITEM.E_DESAPROBADO or estado == EST_ITEM.E_REVISION and iditem in items_afectados %}
   <a href="{% url 'valores_versiones' iditem %}">
   <span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-tasks"></span>
   Versiones de valores </a>
{% else %}
	{% include "_msg_noperm.html" with msg="Versiones de valores" %}
{% endif %}
{% else %}
	{% include "_msg_noperm.html" with msg="Versiones de valores" %}
{% endif %}
 </li>

 <li>
 {# si el usuario tiene permisos para adjuntar y el item esta en desarrollo o afectado por una solicitud #}
 {% if item_adjuntos %}
 {% if estado == EST_ITEM.E_DESAPROBADO or estado == EST_ITEM.E_REVISION and iditem in items_afectados %}
	   <a href="{% url 'itemadjuntos_ls_cr' iditem %}"><span class="glyphicon glyphicon-paperclip">
	   </span>Archivos adjuntos </a>
{% else %}
	{% include "_msg_noperm.html" with msg="Archivos adjuntos" %}
{% endif %}
{% else %}
	{% include "_msg_noperm.html" with msg="Archivos adjuntos" %}
{% endif %}
 </li>

</ul>

</div>
