{% extends nodefault|default:"__formsolo.html" %}
{# formulario de carga y edicion de items #}
{% block zonatrabajo %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">Editando Item</h4>
</div>
<div class="modal-body">
	<form method="post" action="{% url 'item_crear' idfase %}" class="form-horizontal">{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" class="btn btn-primary" value="Guardar">
	</form>
</div>

{% endblock %}
