{# formulario para la carga y edicion de valores de items #}
{% extends nodefault|default:"__formsolo.html" %}
{% block zonatrabajo %}

<div id="edit_valoresitem">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title">Valores del ítem </h3>
	</div>
	<div class="modal-body">
	 	<form method="post" action="{{ action }}">{% csrf_token %}
		{{ formset.management_form }}
		<table class="table table-striped">
		    <tr>
		    <th>Atributo</th>
		    <th>Valor</th>
		    </tr>
		    {% for form in formset %}
		    {% for hidden in form.hidden_fields %}
		        {{ hidden }}
		    {% endfor %}
		     <tr>
		     <td>{{ form.idatributo.label }}</td>
		     <td>{{ form.valor }}<span>{{ form.valor.errors }}</span>
		     {% if form.tipodato.value == "N" %} {# si es numero #}
		     	<span class="glyphicon glyphicon-sound-5-1"></span>
		     	<small>número</small>
		     {% endif %}
		     {% if form.tipodato.value == "D" %} {# si es fecha #}
		     	<span class="glyphicon glyphicon-calendar"></span>
		     	<small>fecha</small>
		     {% endif %}
		     {% if form.tipodato.value == "C" %} {# si es cadena #}
		     	<span class="glyphicon glyphicon-font"></span>
		     	<small>texto</small>
		     	
		     {% endif %}
		     
		     
		     
		     </td>
		     </tr>
		    {% endfor %}
		</table>    
			<input type="submit" value="Guardar" class="btn btn-primary">
		</form>
	</div>
</div>
{% endblock %}

