{# lista de versiones de un item #}
{% extends "__panel.html" %}

{% load tags %}


{% block titulo %} Versiones de valores del ítem {% endblock %} 
{% block cabecera_pagina %}Versiones <small>Administre versiones de los valores del ítem </small> {% endblock %}

{# ---- cabecera de trabajo  ----#}
{% block barra_navegacion %}
	{% load tags_desarrollo %}
	{% back_url_proyecto 1 %}
{% endblock %}


{#----  zona de trabajo ---- #}
{% block zonatrabajo %}


<hr>
<table class="table table-bordered table-condensed">
<tr>
	<th>Version </th>
</tr>
{% regroup object_list|dictsortreversed:"version" by version as lista_versiones %}
{% for version in lista_versiones %}
<tr>
	<td>
	    <table class="table table-bordered table-condensed">
	    {% for version_contenido in version.list %}
	    {% ifchanged version_contenido.creacion %}
	    <tr><td>
	    <p>
	    <strong>Version {{ version_contenido.version }}, Creación:{{ version_contenido.creacion| date:'d/m/Y' }}</strong>
	    {% if not version_contenido.usoactual %}
		<a href="{% url 'valores_reversion' iditem version.grouper %}" 
		   class="btn btn-warning" data-target="#form_modal"  data-toggle="modal" >
		   <span class="glyphicon glyphicon-arrow-left"></span>
		   <span class="glyphicon glyphicon-tasks"></span>
		 Revertir a esta versión
		</a>
		{% else %}
		<strong class="text-info"> (VERSION ACTUAL)</strong>
		{% endif %}
		</p>
		</td></tr>
		<tr><th>Atributo</th><th>Valor</th><th>Tipo Dato</th></tr>
	    {% endifchanged %}
	    	
	    	<tr {% if version_contenido.usoactual %}class="success"{% endif %}>
		    	<td>{{ version_contenido.idatributo.nombre }}</td>
		    	<td>{{ version_contenido.valor }}</td>
		    	<td>{{ version_contenido.idatributo.tipodato }}</td>
	        </tr>
	    {% endfor %}
	   </table>
	</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
