{% extends "__panel.html" %}

{% load staticfiles %}

{# lista relaciones por fase o por item #}

{% block titulo %} Relaciones {% endblock %} 

{% block cabecera_pagina %}Relaciones  <small> Gestione las relaciones del proyecto </small> {% endblock %}

{# ---- cabecera de trabajo  ----#}
{% block barra_navegacion %}
	{% load tags_desarrollo %}
	{% back_url_proyecto 0 %}
{% endblock %}


{% block zonatrabajo %}



 <a class="btn btn-success" data-target="#form_modal"  
 data-toggle="modal" href="{% url 'relacion_crear' idproyecto %}">
 <span class="glyphicon glyphicon-plus-sign"> </span> Nueva Relacion
 </a>


<table class="table table-condensed">

<tr>
    
	<th>Origen</th>
	<th>Tipo </th>
	<th>Destino</th>
	<th colspan="2">Acciones</th>
</tr>
{% for relacion in object_list %}
<tr>
	<td>{{ relacion.origen }}</td>
	<td>
		{% if relacion.tipo == 'E'%}
		<img src="{% static "base/images/flecha_extra.png" %}"/>
		{% else %}
		<img src="{% static "base/images/flecha_intra.png" %}"/>
		{% endif %}
	</td>
	
	<td>{{ relacion.destino }}</td>
	<td><a href="{% url 'relacion_eliminar' relacion.pk %}" data-target="#form_modal"  data-toggle="modal">
		<span class="glyphicon glyphicon-remove"></span> Eliminar</a>
	</td>
    <td></td>
</tr>
{% endfor %}

</table>

{% endblock %}
	