{# extends "easy_pdf/base.html" #}

{% block extra_style %}
    <style type="text/css">
        
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
            font-size: 12px;
        }
        h1 { color:gray; }

        table,th,td ,tr { border-color: gray; border-width: 0.5px; padding: 1px;}
        
        th.corto { width: 7%; }
        
        tr.fase{ color: rgb(68, 110, 155); font-weight: bold;text-align: center;  }

        tr.DES{ color: #473119; }
        tr.BLO{ color: black ; }
        tr.REV{ color:#FF3300; }

    </style>

    
{% endblock %}

{% block content %}

    <div id="content">
    <div class="header">Fecha : {{ fecha|date:'d/m/Y' }}</div>
     <div class="main">
      <h1>{{ title }} </h1>
      <h2> {{ sub_titulo }}  </h2>
      <h3>{{ criterios }}</h3>
     	<div>
     	Referencias:
		<ul>
			<li style="color:#473119; ">Desarrollo</li>
			<li style="color:#FF3300 ;">Revision</li>
			<li style="color:black;">Bloqueado</li>
       </ul>
       </div>
	
	<table border="1">
	<tr>
	<th class="corto">id</th>
	<th>Nombre</th>
	<th>Descripcion</th>
	<th>Tipo</th>
	<th>Item Padre</th>
	<th class="corto">Versión</th>
	<th class="corto">Costo</th>
	</tr>
	{% for item in  lista_items %}
	
	 {% ifchanged item.fase_nombre %}<tr class="fase"><td colspan="7">{{ item.fase_nombre }}</td></tr>{% endifchanged %}
	<tr class="{{ item.estado }}">
	<td>{{ item.pk }}</td>
	<td>{{ item.nombre }}</td>
	<td>{{ item.descripcion }}</td>
	<td>{{ item.idtipoitem }}</td>
	<td>{{ item.padre }}</td>
	<td>{{ item.version }}</td>
	<td>{{ item.complejidad }}</td>
   </tr>
	{% endfor %}
	</table>
</div>
</div>


{% endblock %}