{% extends "__panel.html" %}

{# explorador de componentes internos de un  proyecto #}
{# lista las fases #}

{% block zonatrabajo %}


<h2>Proyecto: {{ proyecto.nombre|title}}</h2>

<p>Acciones Generales :</p> 

<!-- Cuadro de opciones generales a nivel de proyecto  -->
<div class="panel panel-default">
<div class="panel-body">
	<div class="btn-group">
	{# se condiciona que el estafdo #}
	{% if proyecto.estado != 'INI' %}
	 <a class="btn btn-success" data-target="#form_modal"  data-toggle="modal" href="{% url 'projectman.apps.admin.views.fases_abm' 'crear' proyecto.idproyecto %}">
	 <span class="glyphicon glyphicon-plus-sign"></span> Crear Fase
	 </a>
	{% else %}
	
     <a class="btn btn-default" disabled="disabled" >
	 <span class="glyphicon glyphicon-ban-circle"></span> Crear Fase
	 </a>
	{% endif %}
	
	
	<a class="btn btn-default" href ="{% url 'relacion_listar' proyecto.idproyecto %}">
	    <span class="glyphicon glyphicon-random"></span> 
	    Relacionar Items
	    </a>
	</div>
</div>
</div>
<!-- FIN  de Cuadro de opciones generales a nivel de proyecto  -->


<hr>
<h3>Fases <small> Gestione las fases y los componentes internos del proyecto</small></h3>

{# listar fases del proyecto #}
<div class="panel panel-default">
   
   {% for fase in lista_fases %}
   <ul class="panel panel-default">
   <div class="row">

   <div  class="col-md-8">
        <a href="{% url 'expl_nivelfase' proyecto.idproyecto fase.idfase %}">
        {% ifequal fase.idfase idfase %}
             <span class ="glyphicon glyphicon-folder-open"></span> 
             <strong>
             {{ fase.nombre}}
             </strong>
        {% else %}
            <span class ="glyphicon glyphicon-folder-close"></span>
            {{ fase.nombre }}
        {% endifequal %}
         </a>
         <p>{{ fase.descripcion}}</p>
   </div>
  
  <div class="col-md-4">
  {% ifequal fase.idfase idfase %}
      {% include "admin/_opciones_fase.html" with idfase=fase.idfase %}            
  {% endifequal %}
  </div>
   
  </div>
   {# si una fase fue seleccionada entonces se imprimen sus items #}
	
     {% ifequal idfase fase.idfase %}
     <ul>
     
     <div class="panel panel-info">
     <div class="panel-heading"><span class="glyphicon glyphicon-tasks"></span> Items de la fase:</div>
     <a class="btn btn-success btn-sm" data-target="#form_modal"data-toggle="modal" 
     	href="{% url 'item_crear' idfase %}"><span class="glyphicon glyphicon-plus-sign"></span> Crear item
     </a>
     
     <table class="table table-condensed">
     <tr>
	     <th>#</th>
	     <th>Nombre</th>
	     <th>Descripcion</th>
	     <th>Estado</th>
	     <th>Acciones</th>
     </tr>
        {% for item in lista_items %}
        <tr>
           <td>{{ item.numero }}</td>
           <td>{{ item.nombre }}</td>
           <td>{{ item.descripcion }}</td>
           
           <td>
	       {% if item.estado == I_BLOQ %}
	       <span class="glyphicon glyphicon-lock"></span><small> Bloq</small> 
	       {% else %}
	       {{ item.estado }}
           {% endif %}
	       </td>
           <td>{% include "desarrollo/_opciones_item.html" with iditem=item.pk idfase=fase.pk estado=item.estado %}</td>
        </tr>
        {% empty %}
           <p> Fase aún sin items </p>
        {% endfor %}
       </table>
     </div> 
     </ul>
     {% endifequal %}
  <!--id="contenedor_fase"  -->
  </ul>
 {% endfor %} {# fin de listar fases #}
 
</div>


{% endblock %}