{% extends "__panel.html" %}

{# explorador de componentes internos de un  proyecto #}
{# lista las fases #}

{% block zonatrabajo %}


<h2>Proyecto: {{ proyecto.nombre|title}}</h2>

<p>Acciones Generales :</p> 

<!-- Cuadro de opciones generales a nivel de proyecto  -->
<div class="panel panel-default">
<div class="panel-body">
	<div class="btn-group">
	{# se condiciona que el estafdo #}
	{% if proyecto.estado == 'NOI' %}
	 <a class="btn btn-success" data-target="#form_modal"  data-toggle="modal" href="{% url 'projectman.apps.admin.views.fases_abm' 'crear' proyecto.idproyecto %}">
	 <span class="glyphicon glyphicon-plus-sign"></span> Crear Fase
	 </a>
	{% else %}
	
     <a class="btn btn-default" disabled="disabled" >
	 <span class="glyphicon glyphicon-ban-circle"></span> Crear Fase
	 </a>
	{% endif %}
	
	
	<a class="btn btn-default" href ="{% url 'relacion_listar' proyecto.idproyecto %}">
	    <span class="glyphicon glyphicon-random"></span> 
	    Relacionar Items
	</a>
		<a class="btn btn-default" href ="{% url 'solicitudes_proyecto' proyecto.idproyecto %}">
	    <span class="glyphicon glyphicon-send"></span> 
	    Solicitudes de Cambio
	</a>
	
	<a class="btn btn-default" href ="{% url 'proyecto_grafico' proyecto.idproyecto %}">
	    <span class="glyphicon glyphicon-picture"></span> 
	    Gráfico del proyecto 
	</a>
	
	<a class="btn btn-default" data-target="#form_modal"  data-toggle="modal" 
	   href ="{% url 'finalizar_proyecto' proyecto.idproyecto %}">
	    <span class="glyphicon glyphicon-ok"></span>
	    Finalizar Proyecto 
	</a>
	
	</div>
</div>
</div>
<!-- FIN  de Cuadro de opciones generales a nivel de proyecto  -->


<hr>
<h3>Fases <small> Gestione las fases y los componentes internos del proyecto</small></h3>

{# listar fases del proyecto #}
<div class="panel panel-default">
   
   {% for fase in lista_fases %}
   <ul class="panel panel-default">
   <div class="row">

   <div  class="col-md-8">
        {% ifequal fase.idfase idfase %}
        <a href="{% url 'expl_nivelfase' proyecto.idproyecto fase.idfase %}">
             <span class ="glyphicon glyphicon-folder-open"></span> 
             <strong>
             {{ fase.nombre}}
             </strong>
        </a>
        <p>{{ fase.descripcion}}</p>

        <!--  PANEL COMPLEJIDAD FASE -->
        <div class="panel panel-default">
	        <small><strong>Complejidad</strong></small>
	        <ul>
	        <li><small>Complejidad Porcentual de la fase : {{ complejidad_fase_porcen }}</small></li>
	        <li><small>Sumatoria de complejidades de items : {{ complejidad_fase }}</small></li>
	        </ul>
        </div>
        <!-- FIN PANEL COMPLEJIDAD -->

        {% else %}
        <a href="{% url 'expl_nivelfase' proyecto.idproyecto fase.idfase %}">
            <span class ="glyphicon glyphicon-folder-close"></span>
            {{ fase.nombre }}
        </a>
        <p>{{ fase.descripcion}}</p>
        {% endifequal %}
   </div>
<!-- ESTADO DE LA FASE  -->
<div class="col-md-2">
	{% if EST_FASE.E_DESARROLLO == fase.estado %}
	<span class="glyphicon glyphicon-fire"></span>
	{% endif %}
	{% if EST_FASE.E_FINALIZADO == fase.estado %}
	<span class="glyphicon glyphicon-ok"></span>
	{% endif %}  
	{{ fase.estado }}
 </div>
<!-- FIN ESTADO DE LA FASE  -->

  <div class="col-md-2">
  {% ifequal fase.idfase idfase %}
      {% include "admin/_opciones_fase.html" with idfase=fase.idfase EST_FASE=EST_FASE estado=fase.estado %}
  {% endifequal %}
  </div>
   
  </div>
   {# si una fase fue seleccionada entonces se imprimen sus items #}
	
     {% ifequal idfase fase.idfase %}
     <ul>
     
     <div class="panel panel-info">
     <div class="panel-heading"><span class="glyphicon glyphicon-tasks"></span> Items de la fase:</div>

     {% if not EST_FASE.E_FINALIZADO == fase.estado %}
     <a class="btn btn-success btn-sm" data-target="#form_modal"data-toggle="modal" 
     	href="{% url 'item_crear' idfase %}"><span class="glyphicon glyphicon-list-alt"></span> Crear item
     </a>
     {% else %}
      		{% include "_msg_noperm.html" with msg="Crear item" %}
     {% endif %}
     
     {% if items_afectados %}{#si el usario tiene solicitudes aprobadas y sin utilizar #}
	     <div class="alert alert-success"><span class="glyphicon glyphicon-tag"></span>
	     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	     ..<strong>Item cuya modificación está aprobada. Realice los cambios correspondientes.</strong>
	       <p>Una vez realizado el cambio, utilice la opción "Terminar" en su 
	       	<a href="{% url 'solicitudes_usuario' proyecto.pk 1 %}" class="alert-link">Lista de solicitudes</a>
	       </p>
	     </div>
     {% endif %}
     
     <!-- LISTA DE ITEMS  -->
     <table class="table table-condensed">
     <tr>
	     <th>#</th>
	     <th>Nombre</th>
	     <th>Descripcion</th>
	     <th>Estado</th>
	     <th>Acciones</th>
     </tr>
        {% for item in lista_items %}
        <tr {% if item.pk in items_afectados %}class="warning"{% endif %}>
           <td>{{ item.numero }}
           	       {# el item podria estar afectado por una solicitud de cambio aprobada #}
	       {% if item.pk in items_afectados %}
	       <span class="glyphicon glyphicon-tag"></span>
	       {% endif %}
           
           </td>
           <td><a href="{% url 'valores_listar' item.pk %}" data-target="#form_modal"data-toggle="modal">{{ item.nombre }}</a></td>
           <td>{{ item.descripcion }}</td>
           <td>
	       {% if item.estado == EST_ITEM.E_BLOQUEADO %}
	           <span class="glyphicon glyphicon-lock"></span>
	       {% endif %}
	       {% if item.estado == EST_ITEM.E_DESAPROBADO %}
	           <span class="glyphicon glyphicon-fire"></span>
	       {% endif %}
	       {% if item.estado == EST_ITEM.E_REVISION %}
	       <span class="glyphicon glyphicon-eye-open"></span>
	       {% endif %}
	       <small>{{ item.estado }}</small> 
	       </td>

           <td>{% include "desarrollo/_opciones_item.html" with iditem=item.pk idfase=fase.pk estado=item.estado EST_ITEM=EST_ITEM items_afectados=items_afectados %}</td>
        </tr>
        {% empty %}
           <p> Fase aún sin items </p>
        {% endfor %}
       </table>
     </div> 
     </ul>
     {% endifequal %}
  <!--id="contenedor_fase"  -->
  </ul>
 {% endfor %} {# fin de listar fases #}
 
</div>

{% endblock %}