{# MENSAJES #}
{% if messages %}
	{% include "_messages.html" with messages=messages %}
{% endif %}

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Eliminar</h3>
</div>
	<div class="modal-body">
	<div class="alert alert-danger">
	
	{#esta variables es establecida cuando alguna regla de eliminacion no se cumple #}
	{% if not denegar_eliminacion %}
	<form method="post" action="{{ action }}"> 
	{% csrf_token %}
	    <p>Está seguro que desea eliminar "{{ object }}" ?</p>
	    
	    <input type="submit" value="Eliminar" class="btn btn-danger" />
	</form>
	{% else %}
	 <p>No esta permitida la eliminacion</p> 
	{% endif %}
	</div>
</div>
