{% block menu_izquierda %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar" contextmenu=""> <!-- <ul class="nav nav-sidebar"> -->
            <li><a href="{% url 'proyectos_asignados' %}"><span class="glyphicon glyphicon-briefcase"> </span> Gestión de Proyectos</a></li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-user">
                </span><span class="glyphicon glyphicon-cog"></span> Control de acceso </a>
                <ul><a href="{% url 'usuario_listar' %}"><span class="glyphicon glyphicon-arrow-right"></span> Usuarios</a></ul>
                <ul><a href="{% url 'rol_permisos_lista' %}"><span class="glyphicon glyphicon-arrow-right"></span> Roles y Permisos</a></ul>
                <ul><a href="{% url 'rol_proyecto_listar' %}"><span class="glyphicon glyphicon-arrow-right"></span> Asignación de Roles</a> </ul>
            </li>
            <li><a href="#">Gestion del cambio</a></li>
          </ul>
        </div>
 {% endblock %}