{% extends "__panel.html" %}

{% load tags %}

{% block titulo %} Lista de solicitudes en el proyecto {% endblock %}
{% block cabecera_pagina %}Solicitudes <small> {{ titulo }}</small> {% endblock %}

{# ---- cabecera de trabajo  ----#}
{% block barra_navegacion %}
	{% load tags_desarrollo %}
	{% back_url_proyecto 0 %}

{% endblock %}


{% block zonatrabajo %}
{% include 'gestcambio/_opc_lista_solicitudes.html' with idproyecto=idproyecto %}
<p>{{ explicacion }} </p> 
<table class="table table-striped">

<tr>
    <th>id</th>
    <th>Comentarios</th>
    <th>Estado</th>
    <th>Solicitante</th>
	<th>Creación </th>
	<th>Resolución</th>

	<th colspan="2">Acciones</th>
</tr>

{% for solicitud in object_list %}
<tr>
	<td>
	<a href="{% url 'solicitud_det_item' solicitud.pk %}" data-target="#form_modal" data-toggle="modal">{{ solicitud.pk }}
	</a>
	</td>
	<td> <a href="{% url 'solicitud_det_item' solicitud.pk %}" data-target="#form_modal" data-toggle="modal">{{ solicitud.comentarios|truncatechars:35 }}</a></td>
	<td>
	{% if solicitud.estado == EST_SOLICITUD.E_APROBADO %}
  <span class="glyphicon glyphicon-thumbs-up"></span>
	{% endif %}

	{% if solicitud.estado == EST_SOLICITUD.E_RECHAZADO %}
  <span class="glyphicon glyphicon-thumbs-down"></span>
	{% endif %}

	{% if solicitud.estado == EST_SOLICITUD.E_ENVIADO %}
	<span class="glyphicon glyphicon-send"></span>
	{% endif %}

	{% if solicitud.estado == EST_SOLICITUD.E_TERMINADO %}
  <span class="glyphicon glyphicon-ok"></span>
	{% endif %}

	{% if solicitud.estado == EST_SOLICITUD.E_BORRADOR %}
	<span class="glyphicon glyphicon-file"></span>
	{% endif %}
	<small>{{ solicitud.estado }}</small>
	</td>
	<td>{{ solicitud.solicitante }}</td>
	<td>{{ solicitud.fecha_creacion | date:'d/m/Y'}}</td>
	<td>{{ solicitud.fecha_aprobacion | date:'d/m/Y'}}</td>
	<td>{% include "gestcambio/_opciones_solicitud.html" with solicitud=solicitud EST_SOLICITUD=EST_SOLICITUD usuario_essolic=usuario_essolic%}</td>
<td>
	<a href="{% url 'solicitud_est_votacion' solicitud.pk %}" data-target="#form_modal" data-toggle="modal" >
	<span class="glyphicon glyphicon-stats"></span> Est. Votación</a>
</td>
</tr>
{% endfor %}

</table>

{% endblock %}
