{% extends "__panel.html" %}

{% load tags %}

{% block titulo %} Lista de solicitudes de las fase {% endblock %} 
{% block cabecera_pagina %}Solicitudes <small> Solicitudes </small> {% endblock %}

{% block zonatrabajo %}


<table class="table table-striped">

<tr>
    <th>id</th>
    <th>Comentarios</th>
    <th>Fase afectada</th>
    <th>Linea base afectada</th>
        <th>Solicitante</th>
	<th>Fecha Creacion </th>
	<th>Fecha Aprobacion</th>
	
	<th colspan="2">Acciones</th>
</tr>

{% for solicitud in object_list %}
<tr class={% if solicitud.idsolicitud == idsolicitud %}"success"{% endif %} >
	<td>
	<a href="{% url 'solicitud_det_item' idfase solicitud.pk %}">{{ solicitud.pk }}
     	
	</a>
	</td>
	<td> <a href="{% url 'solicitud_det_item' idfase solicitud.pk %}"> <span class={% if  solicitud.idsolicitud == idsolicitud %} "glyphicon glyphicon-chevron-down" {% else %} "glyphicon glyphicon-chevron-right" {% endif %}></span>
     	{{ solicitud.comentarios }}</a>
	</td>
	<td>{{ solicitud.lineabase.fase }}</td>
	<td>{{ solicitud.lineabase }}</td>
	<td>{{ solicitud.solicitante }}</td>
	<td>{{ solicitud.fecha_creacion | date:'d/m/Y'}}</td>
	<td>{{ solicitud.fecha_aprobacion | date:'d/m/Y'}}</td>
	
</tr>
{% if solicitud.idsolicitud == idsolicitud %}
<tr>
	<td></td>
	<td>
		<table class="table table-striped">
		<tr><th>Nombre Item</th></tr>
		{% for item in solicitud.items.all %}
		<tr>
			<td>{{ item.nombre }}</td>
		</tr>
		{% endfor %}
		</table>
	</td>
</tr>
{% endif %}

{% endfor %}

</table>

{% endblock %}
