{# permisos de un rol ( grupo en especifico ) #}

{% extends nodefault|default:"__formsolo.html" %}
{% block zonatrabajo %}

<h3>Rol</h3>
{% url 'rol_permisos' %}

<form action="{{ action }}" method="post">{% csrf_token %}
<table class="table table-striped"> 
 {% for field in form %}
  <tr>
  <td>
  <div class="fieldWrapper">
        {{ field.errors }}
        {% if field.name == "name" %}
        <label for="{{ field.id_for_label }} ">Nombre</label>
        {% endif %}
        {% if field.name == "permissions" %}
        <label for="{{ field.id_for_label }} ">Permisos</label>
        {% endif %}
  </td>
  <td>{{ field }}</td>     
        
      </div>
   </tr>
 {% endfor %}
</table> 
 <p><input type="submit" value="Guardar" class="btn btn-primary"></p>
 

</form>

{% endblock %}