{% extends nodefault|default:"__formsolo.html" %}

{# formulario de carga de roles por proyecto  #}

{% block zonatrabajo %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="modal-title">Asignación de Fases </h3>
</div>
<div class="modal-body">
<p> Otorgar la fase , implica que el usuario poseera todos los permisos aplicables a fases que se encuentren bajo el rol. </p>
<form method="post" action="{{ action }}">
{% csrf_token %}
	<table>
	{{ form.as_table }}	
	</table>
	<input type="submit" class="btn btn-primary" value="Guardar">
</form>
</div>
{% endblock %}
