{% extends nodefault|default:"__formsolo.html" %}

{# formulario que permite asignar un rol a un usuario para un proyecto #}

{% block zonatrabajo %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="modal-title">Asignar roles y proyectos </h3>
</div>
<div class="modal-body">
<form method="post" action="{% url 'rol_proyecto_crear' %}">
{% csrf_token %}
	<table>
	{{ form.as_table }}
	
	</table>
	<input type="submit" class="btn btn-primary" value="Guardar">
</form>
</div>
{% endblock %}
