{% extends "__panel.html" %}

{% load tags %}

{% block titulo %} Control de acceso- Usuarios {% endblock %} 
{% block cabecera_pagina %}Usuarios <small> Administración de Usuarios </small> {% endblock %}

{# buscador configurado para usuarios  #}
  {% block buscador_url %}{% url 'usuario_listar' %}{% endblock %}
  {% block buscador_texto %}Buscar usuarios{% endblock %}

{% block zonatrabajo %}

{# consulta la existencia del permiso crear usuario para el usuario autenticado #}

{% permiso_gral user.pk 'usuario_crear' as usuario_crear %}

{% if usuario_crear or user.is_superuser %}
 	<a class="btn btn-success" data-target="#form_modal"  data-toggle="modal" href="{% url 'usuario_crear' %}">
	<span class="glyphicon glyphicon-plus-sign"> </span> Nuevo Usuario
	</a>
 {% else %}
 	{% include "_msg_noperm.html" with msg="carga de usuarios deshabilitada" %}
{% endif %}

<table class="table table-striped">

<tr>
    <th>Usuario</th>
	<th>Nombre</th>
	<th>Apellidos</th>
	<th>Email</th>
	<th>Activo</th>
	<th>Super Usuario</th>
	<th colspan="2">Acciones</th>
</tr>
{% for usuario in object_list %}
<tr>
	<td>{{ usuario.username }}</td>
	<td>{{ usuario.first_name }}</td>
	<td>{{ usuario.last_name }}</td>
	<td>{{ usuario.email }}</td>
	<td>{% if usuario.is_active %} <span class="glyphicon glyphicon-ok"></span> {% endif %} </td>
	<td>{% if usuario.is_superuser %} <span class="glyphicon glyphicon-ok"></span> {% endif %} </td>
	
	
	<td>
	   {# corregi este companhero, otro level ya somos , tenemos nuestros propios tags #}
	   {% permiso_gral user.pk 'usuario_modif' as usuario_modif %}
	   {% if 'admin.usuario_modif' in perms %}
		<a href="{% url 'usuario_edita' usuario.pk %}" data-target="#form_modal"  data-toggle="modal" ><span class="glyphicon glyphicon-edit"></span> Modificar</a>
       {% else %}
       {% include "_msg_noperm.html" with msg="Modificar" %}     
       {% endif %}
	</td>
	
	<td>
		<a href="{% url 'usuario_elimina' usuario.pk %}"  data-target="#form_modal" data-toggle="modal" ><span class="glyphicon glyphicon-remove"></span> Eliminar </a>
	</td>
	<td>
		<!-- 
		<a href="{% url 'usuario_editaroles' usuario.pk %}"  data-target="#form_modal" data-toggle="modal" ><span class="glyphicon glyphicon-remove"></span> Asignar Roles </a>
		 -->
	</td>
	
</tr>
{% endfor %}

</table>

{% endblock %}
